<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>External Syntax Highlighter</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css">
 
		
		<link type="text/css" rel="stylesheet" href="../../vendor/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
		<link type="text/css" rel="stylesheet" href="../../vendor/syntaxhighlighter_3.0.83/styles/shThemeDefault.css"/>
		
 		<script type="text/javascript" src="../../vendor/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>

		<script type="text/javascript" src="../../vendor/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
		<script type="text/javascript" src="../../vendor/syntaxhighlighter_3.0.83/scripts/shBrushPlain.js"></script>
		<script type="text/javascript" src="../../vendor/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
		<script type="text/javascript" src="../../vendor/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>


		<script type="text/javascript">SyntaxHighlighter.all();</script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	





	</head>
	<body>

<div class="container">
		


<h2>JavaScript</h2>

<h1>Hello SyntaxHighlighter</h1>
<pre class="brush: js;">
function helloSyntaxHighlighter()
{
	return "hi!";
}

		var app=express();


		app.use(express.static(__dirname+"/public"));
		 
		var port=Number(process.env.PORT || 3070);
 
app.listen(port);
console.log("server running with port 3070");
</pre>



</div>
	</body>
</html>